# ignore all themes, except active child theme
wp-content/themes/*
!wp-content/themes/oceanwp-child-theme-master

# ignore plugins
wp-content/plugins

# ignore uploads
wp-content/uploads

# ignore root folders.
wp-admin/
wp-includes/
node_modules/
.well-known/

# ignore root files
.ftpquota
.htaccess
default.htm
index.php
license.txt
php_errorlog
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

# ignore log files and databases
*.log
*.sql
*.sqlite
